doctype html
html(lang="en")
  head
    title Visual Studio Code Extensions
    meta(charset="utf-8")
    style(type="text/css")
      include extensions.css
  body
    h1 Visual Studio Code Extensions
    div
      each package in packages
        .package

          .banner(
            class=package.galleryBanner && package.galleryBanner.theme || "light"
            style={background: package.galleryBanner && package.galleryBanner.color || '#eff1f3'}
            )
            if package.repository && package.repository.url && package.icon
              - image_url = package.repository.url.replace(/^(https:\/\/)github\.com\/([^\/]+?\/[^\/]+?)(?:\.git)?$/, '$1raw.githubusercontent.com/$2/master/' + package.icon)
              img.package-icon(src=image_url)
            h2.package-name
              a(href="https://marketplace.visualstudio.com/items?itemName="+package.publisher+"."+package.name)= package.displayName || package.name
            if package.homepage
              a(href=package.homepage) Homepage
            div= package.description

          .content
            if package.categories && package.categories.length > 0
              div Categories:
              ul.categories
                each category in package.categories
                  li.category= category
            if package.features && package.features.length > 0
              div Features:
              ul.features
                each feature in package.features
                  li.feature= feature
            if package.contributes && package.contributes.keybindings
              h3#key-bindings Key Bindings
              ul
                each binding in package.contributes.keybindings
                  li
                    span(title=binding.key+": "+binding.commandTitle)
                      each key in binding.keyHtml
                        span.keybinding= key
